.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
build/
dist/
.eggs/
*.egg-info/
.pytest_cache/
.python-version
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log
